form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 5px; 
    padding-bottom:15px;
}
input{
    width: 200px;
    height: 15px;
}
.submit{
    margin-top: 15px;
    width: 150px;
    height: 30px;
   
}
select{
    width: 200px;
}
.inputVide{
    background-color: rgb(235, 165, 165);
}
span{
    color: red;
    font-size: small;
}